<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="../static/borders.css">
</head>
<body>
        <div style="display: flex;
    flex-wrap: wrap;">
            <div style="flex:50%;">
                <i class="fas fa-spinner fa-spin fa-3x" style="color: lightblue;"></i>
                <div class="waviy2">
                   <span style="--i:1">F</span>
                   <span style="--i:2">E</span>
                   <span style="--i:3">T</span>
                   <span style="--i:4">C</span>
                   <span style="--i:5">H</span>
                </div>
            </div>
            <div style="flex: 50%; text-align: right;">
                <i id="bino" class="fas fa-binoculars fa-3x"></i>
                 <div class="waviy">
                   <span style="--i:1">V</span>
                   <span style="--i:2">i</span>
                   <span style="--i:3">s</span>
                   <span style="--i:4">u</span>
                   <span style="--i:5">a</span>
                   <span style="--i:6">l</span>
                   <span style="--i:7">i</span>
                   <span style="--i:8">z</span>
                     <span style="--i:8">e</span>
                  </div>
            </div>
        </div>

    <div style="display: flex;
    flex-wrap: wrap;">
        <div class="line" style="flex: 50%;">
                  <i id="import" class="fas fa-file-import fa-3x"></i>
                <h2 class='lineUp'>IMPORT DATA</h2>
        </div>

        <h1 style="flex: 50%; text-align: right;">
            <i id="searcher" class="fas fa-search fa-2x" style="margin-right:9%;"></i>
            <div id="1">
                <span>ANALYZE</span>
            </div>

        </h1>
    </div>

</body>
</html>